<body>
    <div class="login-container">
      <div class="login-box">
        <h2>Sign up</h2>
        <form >
            <div class="form-group">
            <label for="username">Username:</label>
            <input
            type="username"
            id="username"
            name="username"
            placeholder="enter your username"
            [(ngModel)]="loginobj.username"
            required
          />
        </div>
            
          <div class="form-group">
            <label for="email">Email:</label>
            <input
            type="email"
            id="email"
            name="email"
            placeholder="enter your email"
            [(ngModel)]="loginobj.email"
            required
           />
          </div>
           <div class="form-group">
                     <label for="role">Role:</label>
  <select
    id="role"
    name="role"
    [(ngModel)]="loginobj.role"
    required
    class="form-control"
  >
  <option value="" disabled selected>Select your role</option>
    <option value="Investor">Investor</option>
    <option value="Entrepreneur">Entrepreneur</option>
    <!-- Add more roles as needed -->
  </select>
 
</div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
            type="password"
            id="password"
            name="password"
            placeholder="enter your password"
            [(ngModel)]="loginobj.password"
            required
          />
        </div>
                 
          <button (click)="onLogin()">Login</button>
          <!-- <button type="submit" [routerLink]="['/userlist']">Login</button> -->
        </form>
      </div>
    </div>
  </body>