<app-navbar></app-navbar>
<body>
  
    <div class="container">
      <h1 style="font-weight: bold;">Caesar Cipher</h1>
      <div style="height: 15px;"></div>
      <input #userInput  placeholder="Enter text you want encode or decode" id="textInput">
      <div class="button-container">
        <button (click)="encode(userInput.value)">encode</button>
        <button (click)="decode(userInput.value)">decode</button>
      </div>
      <div style="height: 15px;"></div>
      <p>Your {{type}} text : {{ savedInput }}</p>
    </div>
  </body>