<nav class="px-2 navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/userlist">Rest Api </a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/ceasar_cipher">Cryptography </a>
      </div>
      
    </div>
  </nav>
<!--
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="/userlist">Home <span class="sr-only">(current)</span></a>
  </div>
-->