<body>
    <div class="login-container">
      <div class="login-box">
        <h2>Login</h2>
        <!--
        <p>
          
            "email": "eve.holt&#64;reqres.in",
            "password": "cityslicka"
        
        </p>
        -->
        <form action="https://reqres.in/api/login" method="POST" onsubmit=onLogin()>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="eve.holt@reqres.in">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="cityslicka">
          </div>
          <button type="submit" [routerLink]="['/userlist']">Login</button>
        </form>
      </div>
    </div>
  </body>