<app-navbar></app-navbar>
<body>
  
    <div class="container">
      <h1 style="font-weight: bold;">Play Fair Square Cipher</h1>

      <div style="height: 15px;"></div>
      <textarea #userInput name="comment box" id=textInput placeholder="Enter text in capital letter which you want encode or decode "></textarea>
      <div class="button-container">
        <button (click)="encode(userInput.value)">encode</button>
        <button (click)="decode(userInput.value)">decode</button>
      </div>
      <div style="height: 15px;"></div>
      <p>your text converted to {{temp}}</p>
      <p>Your {{type}} text : {{savedInput}}</p>
    </div>
  </body>