<app-navbar></app-navbar>
<body>
  
    <div class="container">
      <h1 style="font-weight: bold;">One Time Pad Cipher</h1>
      <div style="height: 15px;"></div>
      <textarea #inputString name="comment box" id=textInput placeholder="Enter text "></textarea>
      <div class="button-container">
        <button (click)="encode(inputString.value)">encode</button>
        <button (click)="decode(inputString.value)">decode</button>
      </div>
      <br>
      <div>
        <h2>Your {{type}}</h2>
        <textarea name="comment box" id=textInput placeholder="binary">{{binaryString}}</textarea>
        <textarea name="comment box" id=textInput placeholder="decimal">{{decimal}}</textarea>
      </div>

      
    </div>
  </body>